{{#each model as |post|}}

<div class="post">
  <div class="panel panel-default">
    <div class="panel-body">
      <table class="table">
        <tr>
          <td class="image" rowspan="2">
            <img src="{{ post.blog.image }}" class="img img-circle" alt="{{ post.blog.name }}">
          </td>
          <td class="name">{{ post.blog.blogger }}</td>
          <td class="save" rowspan="2">
            {{#if post.favorited }}
              <i class="fa fa-bookmark" aria-hidden="true"></i>
            {{else}}
              <i class="fa fa-bookmark-o" aria-hidden="true"></i>
            {{/if}}
          </td>
        </tr>
        <tr>
          <td class="title">{{ post.blog.title }}</td>
        </tr>

      </table>
      <h3>
        {{ post.header }}
        {{#if post.new}} <small class="new">New</small> {{/if}}
      </h3>
      <p>
        {{ post.summary }}
        <a target="_blank" href="{{ post.link }}">continue reading..</a>
      </p>

    </div>
  </div>
</div>

{{/each}}
